@model doan.Models.RapChieuModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RapChieuModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TENRAP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TENRAP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIACHI)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MARAP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
